CRAWLTOP_APP_NAME=wiggler
CRAWLTOP_DB_PATH=./data/wiggler.db
CRAWLTOP_DATA_DIR=./data
CRAWLTOP_LOG_LEVEL=INFO
CRAWLTOP_MAX_CONCURRENCY=10
CRAWLTOP_USER_AGENT=wiggler/0.2 (+https://github.com/cbwinslow/wiggler)
CRAWLTOP_CRAWL_MAX_DEPTH=1
CRAWLTOP_CRAWL_MAX_PAGES=50
CRAWLTOP_QDRANT_MODE=disabled
CRAWLTOP_QDRANT_PATH=./data/qdrant
CRAWLTOP_OPENAI_API_KEY=
CRAWLTOP_EXA_API_KEY=
CRAWLTOP_BRAVE_API_KEY=
